<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [appClass]="{ disabled: currentPage === 0}">
      <a class="page-link" (click)="currentPage = currentPage -1">prev</a>
    </li>
    <ng-container *appTimes="images.length-1; let i = index">
      <li class="page-item" [appClass]="{ active: i === currentPage}" *ngIf="checkWindowIndex(i)">
        <a class="page-link" href="#" (click)="currentPage = i">{{i+1}}</a>
      </li>
    </ng-container>
    <li class="page-item" [appClass]="{ disabled: currentPage === images.length-1}">
      <a class="page-link" (click)="currentPage = currentPage +1">next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{images[currentPage].title}}</h4>
  <img [src]="images[currentPage].url" />
</div>

<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">
    Current Page is Zero
  </div>
  <div *ngSwitchCase="0">
    Current Page is in other words 0
  </div>
  <div *ngSwitchCase="1">
    Current Page is one
  </div>
  <div *ngSwitchCase="2">
    Current Page is Two
  </div>
  <div *ngSwitchCase="3">
    Current Page is Three
  </div>
  <div *ngSwitchCase="4">
    Current Page is Four
  </div>
  <div *ngSwitchDefault>
    Current Page is equal or more than 5
  </div>
</div>

<div *appTimes="5">
  <li>{{images[currentPage].title}}</li>
</div>